<div class="toast-container">
    <div *ngFor="let toast of toastService.toasts()" class="toast-premium" [ngClass]="toast.type"
        (click)="toastService.remove(toast.id)">
        <div class="toast-icon">
            <span class="material-icons" *ngIf="toast.type === 'success'">check_circle</span>
            <span class="material-icons" *ngIf="toast.type === 'error'">error</span>
            <span class="material-icons" *ngIf="toast.type === 'info'">info</span>
        </div>
        <div class="toast-content">
            <span class="toast-message">{{ toast.message }}</span>
        </div>
        <button class="toast-close">
            <span class="material-icons">close</span>
        </button>
    </div>
</div>